/* CSS Variables */

:root {
  --font-heading: "Rubik", sans-serif; /* <weight> value from 300 to 900 */
  --font-body: "Roboto Mono", monospace; /* <weight> value from 100 to 700 */
  --text-color-light: #dbd8e3;
  --text-color-dark: #352f44;
  --background-color-dark: #0c2028;
  --background-color-light: #1d323c;
  --feature-color-light: #927fbf;
  --feature-color-dark: #4f3b78;
  --box-shadow-light: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-heavy: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Global Styles */

html,
body,
p {
  margin: 0;
}

p {
  color: var(--text-color-light);
  font-family: var(--font-body);
  text-align: center;
}

section {
  padding: 20px;
}

.english {
  display: none;
}

a {
  color: var(--text-color-light);
  text-decoration: none;
}

/* Navbar Styles */

.navbar {
  background-color: var(--feature-color-dark);
  font-family: var(--font-body);
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navbar-brand {
  font-family: var(--font-heading);
}

.navbar-brand:hover {
  color: var(--text-color-dark);
}

.navbar a {
  color: var(--text-color-light);
  font-size: 20px;
  margin: 0 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--text-color-dark);
}

/* Header Styles */

header {
  background-image: url(./images/grey-star-sky.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2,
h3 {
  color: var(--text-color-light);
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 60px;
  font-family: var(--font-heading);
  padding-top: 100px;
}

h2 {
  font-size: 30px;
  font-family: var(--font-body);
  margin: 0 10px;
  padding: 30px 0;
}

.h2-intro {
  padding-top: 20px;
}

.lang-btn-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.intro-text-container {
  padding: 0 15px 80px 15px;
}

.special-offer {
  background-color: #f70776;
  border-radius: 10px;
  margin: 50px 10px 0 10px;
  padding: 10px;
}

/* Button Styles */

.btn-standard {
  border-radius: 10px;
  font-family: var(--font-body);
  margin: 50px;
  padding: 5px 10px;
}

.btn-standard:hover {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.btn-color {
  background-color: var(--feature-color-dark);
  border: 2px solid var(--feature-color-dark);
  color: var(--text-color-light);
  padding: 10px 20px;
  width: 180px;
  margin: 30px auto;
}

.btn-color:hover {
  background-color: var(--feature-color-light);
  border: 2px solid var(--feature-color-light);
}

button.english {
  display: none;
}

/* About Section Styles */

.greeting {
  padding-top: 80px;
}

.about {
  background-color: var(--background-color-dark);
  background-image: url(./images/backgrounds/stardust.png);
}

.profile-pic {
  border-radius: 50%;
  display: block;
  margin: 10px auto 40px auto;
  width: 250px;
  animation: profile-pic-spin 5s linear infinite;
}

@keyframes profile-pic-spin {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.about-text {
  background-color: var(--text-color-light);
  background-image: url(./images/backgrounds/45-degree-fabric-dark.png);
  border-radius: 10px;
  color: var(--text-color-dark);
  margin: 20px auto 10px auto;
  padding: 10px;
  width: 90%;
}

.contact-btn {
  display: block;
  margin: 40px auto 20px auto;
}

/* Services Section Styles */

.services {
  background-color: var(--background-color-light);
  background-image: url(./images/backgrounds/stardust.png);
}

.services-heading {
  padding-top: 80px;
}

.star-icon {
  display: block;
  margin: 20px auto;
}

/* Pricing Section Styles */

.pricing {
  background-color: var(--background-color-dark);
  background-image: url(./images/backgrounds/stardust.png);
}

.pricing h4 {
  color: var(--text-color-light);
  text-align: center;
}

.pricing-heading {
  padding-top: 80px;
}

.pricing-list {
  background-color: var(--text-color-light);
  background-image: url(./images/backgrounds/45-degree-fabric-dark.png);
  border-radius: 10px;
  margin: 50px auto;
  padding: 0 10px 10px 20px;
  font-family: var(--font-body);
}

.pricing-list h3 {
  padding-top: 20px;
}

.pricing-left {
  color: var(--text-color-dark);
  text-align: left;
}

.fa-circle-check,
.fa-square-plus {
  margin-right: 10px;
}

.website-link {
  color: var(--feature-color-dark);
  text-decoration: underline;
}

/* Testimonials Section Styles */

.testimonials {
  background-color: var(--background-color-light);
  background-image: url(./images/backgrounds/stardust.png);
}

.test-heading {
  padding-top: 80px;
}

.card {
  margin: 50px auto;
}

.card-body {
  background-color: var(--text-color-light);
  background-image: url(./images/backgrounds/45-degree-fabric-dark.png);
  text-align: center;
}

.card-text {
  color: var(--background-color-light);
  font-family: var(--font-body);
}

.client-pic {
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

/* Contact Section Styles */

.contact {
  background-color: var(--background-color-dark);
  background-image: url(./images/backgrounds/stardust.png);
}

.contact-heading {
  padding-top: 80px;
}

.undraw {
  display: block;
  margin: 30px auto;
  width: 250px;
}

.map {
  border-radius: 10px;
  display: block;
  margin: 40px auto;
  width: 90%;
}

h3 {
  padding-bottom: 20px;
}

/* Footer Styles */

footer {
  background-color: var(--feature-color-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
  position: absolute;
  width: 100%;
}
